<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org" xlmns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Create - AweShelter</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" th:href="@{/fonts/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{/css/Footer-Clean.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" th:href="@{/css/Navigation-with-Search.css}">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="/">AweShelter</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="../animal/admin">Admin</a></li>
                    <li class="nav-item"><a class="nav-link active" href="../animal/all">Adopt</a></li>
                    <li class="nav-item"><a class="nav-link" href="../animal/searchForm">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page hire-me-page">
        <section class="portfolio-block hire-me">
            <div class="container">
                <div class="heading">
                    <h2>edit</h2>
                </div>
                <form action="#" th:action="@{/animal/doUpdate}" th:object="${animalModel}" method="post">
                	<input type="hidden" th:field="${animalModel.id}" name="id">
                    <div class="mb-3">
                    	<label class="form-label" for="name">Name:</label>
                    	<input class="form-control" type="text" th:field="*{name}" placeholder="Name of Pet" name="name">
                    </div>
                    <div class="mb-3">
                    	<label class="form-label" for="age">Age:</label>
                    	<input class="form-control" type="text" th:field="*{age}" placeholder="Age of Pet" name="age">
                    </div>
                    <div class="mb-3">
                    	<label class="form-label" for="weight">Weight:</label>
                    	<input class="form-control" type="text" th:field="*{weight}" placeholder="Weight of Pet" name="weight">
                    </div>
                    <div class="mb-3">
                    	<label class="form-label" for="breed">Breed:</label>
                    	<input class="form-control" type="text" th:field="*{breed}" placeholder="Breed of Pet" name="breed">
                    <div class="mb-3">
                    	<label class="form-label" for="description">Description:</label>
                   		<input class="form-control" type="text" th:field="*{description}" placeholder="Description of Pet" name="description">
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-6 button"><button class="btn btn-primary d-block w-100" type="submit" style="margin-top: 0px;margin-left: 150px;background: #00ff29;color: black;font-weight: bold;">UPDATE</button></div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <footer class="page-footer">
        <footer class="footer-clean">
            <p class="copyright">AweShelter © 2022</p>
        </footer>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>