<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org" xlmns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - AweShelter</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" th:href="@{/fonts/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{/css/Footer-Clean.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" th:href="@{/css/Navigation-with-Search.css}">
</head>

<body class="text-center">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="/">AweShelter</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="../animal/admin">Admin</a></li>
                    <li class="nav-item"><a class="nav-link active" href="../animal/all">Adopt</a></li>
                    <li class="nav-item"><a class="nav-link" href="../animal/searchForm">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page lanidng-page">
        <section class="portfolio-block block-intro">
            <div class="container">
                <div class="avatar" style="background-image: url(&quot;assets/img/avatars/logo.png&quot;);width: 250px;height: 200px;"></div>
                <div class="about-me">
                    <p>We are the AweShelter! Here you can adopt dogs and cats! Find yourself a furry little friend for life!</p>
                    <p>TEST 2.0</p>
                </div>
            </div>
        </section>
        <section class="portfolio-block photography">
            <div class="container">
                <!--<div class="row g-0">
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="../static/img/avatars/puppy.png" style="width: 432px;height: 432px;"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="../static/img/avatars/both.png" style="width: 432px;height: 432px;"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="../static/img/avatars/cat.png" style="width: 432px;height: 432px;"></a></div>
                </div>-->
            </div>
        </section>
        <section class="portfolio-block call-to-action border-bottom"></section>
    </main>
    <footer class="page-footer">
        <footer class="footer-clean">
            <p class="copyright">AweShelter © 2022</p>
        </footer>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>